html{
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto', 'Roboto Light', sans-serif !important;
}

.form_container {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    margin: auto;
}

.btn_w {
    width: 100%;
}

.back {
    background: #8FC4B7;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85% 15%;
    height: 100vh;
}

.field{
    height: 78vh;
}

.btn_center{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}
