html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto', 'Roboto Light', sans-serif !important;
}

td:focus{
    outline: blue 1px solid;
}

table{
    table-layout: fixed;
    width: 100%;
}

.form_container {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    margin: auto;
}

.btn_w {
    width: 100%;
}

.back {
    background: #8FC4B7;
}

.task_container {
    display: grid;
    grid-template-columns: 10% 90%;
}

.btn_container {
    display: grid;
    grid-template-columns: 1fr;
}

.show {
    display: grid;
}

.none {
    display: none;
}

.field_container {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 85vh;
}
.table_over{
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color:  #343a40 #6c757d;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: #6c757d;
}
*::-webkit-scrollbar-thumb {
    background-color: #343a40;
}


.item_container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.body_description{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.btn_item_container{
    grid-row-start: 1;
    grid-row-end: 4;
}
